%header
  %h1.page-header
    = t('header', :scope => 'global')

  %nav
    %ul
      %li
        %a{:href => "test"} Nav Link 1
      %li
        %a{:href => "test"} Nav Link 2
      %li
        %a{:href => "test"} Nav Link 3
