.full
  .wrapper
    .content
      %h2 Main Body Copy
      %p
        Fermentum ac conubia excepteur. Laoreet primis ut laboris et cubilia. Sodales phasellus lacus reprehenderit.
      %p
        Ex etiam consectetur sint. Dolor morbi mollit faucibus congue nibh. Tempus donec nec nam aliquet.
      %p
        Class bibendum pretium et eget ligula. Velit felis eros semper consectetur. Exercitation at condimentum venenatis morbi. Laboris risus dictum donec adipiscing. Eu habitant amet veniam do. Vitae blandit placerat posuere nostra. Aliqua et mus excepteur dignissim dapibus. Adipiscing diam aenean nec ullamcorper aliquet. Id nibh fugiat taciti gravida semper. Sed cras morbi nostra sapien. Tempus amet veniam hendrerit felis dapibus. Ullamcorper consectetuer taciti integer eros donec. Vel tempus irure cum dictum anim.



= render 'partials/_items.html.haml'

= render 'partials/_about.html.haml'