@charset "UTF-8";
@import '_brand_defaults.css.scss';
@import '_mixins.css.scss';
@import '_grid.scss';
@import '_typography.css.scss';
@import '_forms.css.scss';

/* ==========================================================================
   Structure
   ========================================================================== */

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;



body {
  font-family: $base-font;
  font-size: $base-font-size;
  color: $base-font-colour;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

header, footer {
  @include column(12);
  margin-bottom: 24px;
}

#main {
  width: 100%;
}

.full {
  display: block;
  float: left;
  width: 100%;
}

nav {
  @include column(8);
  ul {
    margin: 0;
    padding: 15px 10px;
    li {
      display: inline;
      margin-right: 25px;
    }
  }
}

#logo {
  @include column(4);
}

.wrapper, .content {
  @include column(12);
  margin-bottom: 25px;
}

section#image {
  @include column(7);
  height: 500px;
  background: blue;
}

sidebar#description {
  @include column(5);
  height: 500px;
  background: lime;
}



#items {
  display: block;
  float: left;
  width: 100%;
  ul {
    li {
      @include column (3);
      padding: 25px 0px;
      background: #ccc;
      margin-bottom: 25px;
    }
  }
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media screen and (max-width: 720px) {

  nav {
    @include column(12);
    ul {
      margin: 0;
      padding: 15px 10px;
      li {
        display: inline;
        margin-right: 25px;
      }
    }
  }

  #logo {
    @include column(12);
  }

  #items {
    display: block;
    float: left;
    width: 100%;
    ul {
      li {
        @include column (6);
        padding: 25px 0px;
        background: #ccc;
        margin-bottom: 25px;
      }
    }
  }

  section#image {
    @include column(12);
    height: 300px;
    background: blue;
  }

  sidebar#description {
    @include column(12);
    height: 100px;
    background: lime;
  }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}


@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}